APP_ENV=local
HTTP_PORT=18080
POSTGRES_DSN=postgres://postgres:postgres@127.0.0.1:15432/redcart?sslmode=disable
REDIS_ADDR=127.0.0.1:6379
RABBITMQ_ADDR=amqp://guest:guest@127.0.0.1:5672/
RABBITMQ_EXCHANGE=redcart.events
AI_PROVIDER=mock
PYROSCOPE_SERVER_ADDRESS=
PYROSCOPE_APPLICATION_NAME=redcart.backend
PYROSCOPE_BASIC_AUTH_USER=
PYROSCOPE_BASIC_AUTH_PASSWORD=
PYROSCOPE_TENANT_ID=
PYROSCOPE_MUTEX_PROFILE_FRACTION=
PYROSCOPE_BLOCK_PROFILE_RATE=
